h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: black;
}

.form-quiz {
    display: flex;
    flex-flow: column;
}

.nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 35%;
    width: 500px;
    height: 700px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding-top: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.username {
    border: 1px solid #a6a6a6;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-top: 25px;
    padding-left: 9px;
    color: #6c6c6c;
    background: #fcfcfc;
    outline: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: normal;
}

.password:hover, .username:hover {
    border: 1px #b22222 solid;
    cursor: pointer;
}

.button {
    color: #fff;
    font-size: 20px;
    border: 1px solid #a6a6a6;
    width: 243px;
    height: 43px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 6px;
    outline: none;
    background: rgb(255, 48, 25);
    background: linear-gradient(to bottom, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 100%);
}

.button:hover {
    background: rgb(204, 0, 0);
    background: linear-gradient(to bottom, rgb(204, 0, 0) 0%, rgb(204, 0, 0) 100%);
}

label {
    position: relative;
    top: 5px;
    margin-right: 115px;
}

label span {
    margin-left: 5px;
    font-size: 14px;
}

.img {
    width: 50%;
}

.img2 {
    width: 50%;
    height: 30%;
}
.img3 {
    height: 40%;
}

label {
    font-size: large;
}